*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(125, 146, 146);
    height: 100vh;
    width: 100vw;
}
#head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 5px black ;
    margin-bottom: 10px;
    margin-top: 15px;
}

.para{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(54, 61, 61);
    
   
}
.containerbox{
    
   
    width: 675px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
  margin:auto;
    gap: 1rem;
    margin: 50px;
}
.onebox{
     width: 300px;
        height: 450px;
        background-color: rgb(243, 241, 239);
        border: 0px solid black;
         border-radius: 5px;
         margin: 5px;

      
}
#gadhead{
    margin: 10px;
    padding: 10px;
   
    
}
#anchor #gadhead:hover{
    color: blue;
}
#anchor{
    text-decoration: none;
}


#gadimg{
    margin: 10px;
    padding:auto;
    border-radius: 5px;
}
#gadimg:hover{
transform: scale(1.05);
}



#para{
    padding: 3px;
    margin: 5px;
    color: rgb(71, 64, 64);
}
.rightbox{
    display: grid;
    grid-template-rows: end;
    margin-right: 10px;
    font: bold;

}
.leftbox{
    display: flex;
    flex-direction: row;
}
.imagebox{
    margin: 10px;
    
}
.doebox{
    margin-top: 10px;
    color: rgb(81, 81, 159);
}
#date{
    color: rgb(40, 37, 37);
}
#rightbutton{
    font: bold;
    box-shadow: 5px 5px 5px  black;
}
.technologybox{
    margin-top: 60px;
}
