*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     text-decoration: none;
}
body{
    background-color: rgb(232, 236, 236);
    height: 100vh;
   
} 
.headercontent{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-content: center;
}
.headercontent .navlist{
    padding: 1.3rem;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    font-weight: bold;
    align-items: center;
    color: rgb(119, 48, 170);
    gap: 0.525rem;
     text-shadow: 0px 0px 10px rgb(176, 96, 159);
}

.logoimg{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.navlist{
    display: flex;
    gap: 1.5rem;
}
.navlist a{
    font-weight: 600;
    font-size: 1.3rem;
    color: rgb(109, 121, 131);
    transform: color 0.1s;
     text-shadow: 0px 4px 30px black;
}
.nav-link:hover{
    color: rgb(43, 150, 226);
    
}
.contact{
    padding: 1.7rem;
    font: 600;
    height: 50px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(30, 30, 137);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
      box-shadow: 0px 6px 8px grey;
}
.contact:hover{
    transform: scale(1.03);
    background-color: rgb(92, 62, 156);
  
}
.maincontent{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    max-width: 1280px;
    padding: 0.6rem;
    margin: 0 auto;
}
.leftcontent{
    text-align: center;
    animation: leftslide 1s ease forwards;
    opacity: 0;
    
}
@keyframes leftslide {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
          opacity: 1;
        transform: translateX(0);
    }

}
.para1{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    padding-top: 2rem;
    color: rgb(111, 70, 150);
    text-shadow: 0px 0px 60px black;
}
.heading{
    font-size: 4rem;
    padding: 0.5rem;
    font-weight: 600;
     text-shadow: 0px 0px 5px black;
}
.para2{
    font-size: 1.1rem;
    color: grey;
}
.startbutton{
    padding: 1.7rem;
    font: 600;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(30, 30, 137);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tourbutton{
       padding: 1.7rem;
    font: 600;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(61, 61, 66);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    gap: 2rem;
    justify-content: start;
    padding: 3rem;
    padding-left: 0;
   
}
.startbutton:hover{
    transform: scale(1.03);
    background-color: rgb(92, 62, 156);
}
.tourbutton:hover{
    transform: scale(1.03);
    background-color: rgb(92, 62, 156);
}
.rightcontent{
   
    height: 65vh;
    width: 570px;
    border-radius: 1.4rem;
    overflow: hidden;
    box-shadow: 0px 4px 30px  #100e0e;
      
}
.rightimage{
    height: 100%;
    width: 100%;
}
@media screen and (min-width:780px) {
    .maincontent{
        flex-direction: row;
    }
    .leftcontent{
        max-width: 50%;
        text-align: left;
    }
    .heading{
        padding-left: 0;
    }
    .rightcontent{
    display: flex;
    justify-content: end;
    margin-left: 0;
    padding-right: 0;
    }
}



.rightcontent{
    text-align: center;
    animation: rightslide 1s ease forwards ;
    opacity: 0;
    
}
@keyframes rightslide {
    0%{
        opacity: 0;
        transform: translateX(-100%)
    }
    100%{
          opacity: 1;
        transform: translateX(0);
    }

}

.nav-link{
    text-align: center;
    animation: upside 1ms  ease-in-out forwards   ;
    opacity: 0;
    
}
@keyframes upside {
    0%{
        opacity: 0;
        transform: translateY(-100%)
    }
    100%{
          opacity: 1;
        transform: translateY(0);
    }

}
.nav-link {
  animation: upside 0.5s ease-in-out forwards;
  opacity: 0;
}

/* Staggered animation delays */
.navlist a:nth-child(1) {
  animation-delay: 0.2s;
}
.navlist a:nth-child(2) {
  animation-delay: 0.4s;
}
.navlist a:nth-child(3) {
  animation-delay: 0.6s;
}
.navlist a:nth-child(4) {
  animation-delay: 0.8s;
}
.navlist a:nth-child(5) {
  animation-delay: 1s;
}
.trust{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 0px 4px 9px black;
}
.trust{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.company_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.companyimg{
    height: 40px;
    width: 40px;
    padding-top: 6px;
    margin: auto;
    border-radius: 100px;
}
.companytext{
    font-size: 1rem;
    color: rgb(48, 50, 53);
}
.companylogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footermain{
    background-color: rgb(134, 154, 164);
    text-align: center;
    
    margin-top: 1rem;

}

.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
  text-align: center;
   
}
.headerpart{
    display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;


}

.fhead{
    font-size: 2.5rem;
    font-weight: 600;
     text-shadow: 0px 0px 3px black;
     padding-top: 1rem;
}
.para3{
   
    max-width: 1230px;
     padding-top: 1rem;
}
.boxes{
    padding-top: 2rem;
    gap: 0.5rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
   .box1{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #4986ac;
    display: flex;
    flex-direction: column;
    color: #0d0f11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}

 .box2{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #b76336;
    display: flex;
    flex-direction: column;
    color: #111417;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}
 .box3{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #4db536;
    display: flex;
    flex-direction: column;
    color: #0e1012;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}
 .box4{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #6c79db;
    display: flex;
    flex-direction: column;
    color: rgb(18, 20, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}
 .box5{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #b449c2;
    display: flex;
    flex-direction: column;
    color: rgb(14, 16, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}
 .box6{
    height: 200px;
    width: 400px;
    box-shadow: 0px 4px 30px  #100e0e;
    background-color: #216810;
    display: flex;
    flex-direction: column;
     color: rgb(8, 11, 14); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 0;
}
.bulbimg{
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 9px black;
    border-radius: 100px;
    
}
.icon{
    padding-bottom: 1.1rem;

}
.description{
    padding-top: 0;
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.testimonal{
    padding: 2rem;
}
.testcontent{
    
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.5rem;
  text-align: center;
}
.headtest{
    text-shadow: 0px 0px 2px black;
    font-weight: 1000;
}
.photodiv{
    max-width: 100%;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
   padding-bottom: 1rem;


}
.photo1{
    padding-top: 1rem;
    padding-bottom: 2rem;
    border: 1px solid black;
    width: 500px;
    height: 230px;
    border-radius: 15px;
    box-shadow: 0px 4px 30px  #100e0e;
}
.synchead{
    text-align: center;
    font-weight: 500;
}
.id{
    border-radius: 100px;
     height: 70px;
    width: 70px;
    box-shadow: 0px 0px 9px black;
}
.idname{
    color: rgb(71, 144, 201);
    font-weight: 600;
    padding-bottom: 1rem;
}
.saraimg{
    padding-top: 1.5rem;
}
.footerupdate{
    text-align: center;
    margin-top: 1rem;
}
.bothbox{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    animation: leftdirection 8s ease 1s 1 forwards ;
}
@keyframes leftdirection {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
          opacity: 1;
        transform: translateX(0);
    }

}
.darkimg{
    border-radius: 5px;
    height: 350px;
    width: 500px;
}
.rightbox {
    border-radius: 5px;
   height: 350px;
    background-color: antiquewhite;
    width: 550px;
    padding: 4rem;
    box-shadow: 0px 0px 9px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    align-items: flex-start;       
}
.updatehead{
    padding-bottom: 0.3rem;
}
.headupdate{
    color: #140774;
    text-shadow: 0px 0px 2px blue;
}
.spanhead{
     padding-bottom: 1rem;
}
.inputsection{
    padding-bottom: 1rem;
    gap: 1rem;
}
.mail{
    padding: 0.3rem;
}
.sendbutton{
    background-color: #726aaf;
    padding: 0.3rem;
    border-radius: 2px;
}
.endpara .anchor a{
    text-decoration: underline;
}
.lastcontainer{
    
    margin-top: 1rem;
    padding-top: 4rem;
}
.lastcontent{
     max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}
.seamlessimg{
     height: 40px;
    width: 40px;
    border-radius: 10px;
}
.seamlesslogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: hsl(212, 10%, 26%);
}
.icontab{
    padding-bottom: 1.5rem;
    
}

.seamless{
    padding-bottom: 1.5rem;
     display: flex;
    justify-content: flex-start;
    color: hsl(212, 10%, 26%);
    font-size: 1.1rem;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.micro{
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
.iconlist{
    line-gap-override: 1rem;
}
.rightcontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem   ;
}
.topheading{
    padding-bottom: 2.5rem;
}

ul{
    list-style: none;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.footerlink{
    color: #777;
}
.copyright{
    text-align: center;
    padding-top: 0.6rem;
    border-top: 1px solid #b2c2cf;
}
.copy{
    color: #615d5d;
    font-weight: 200;
    font-size: 0.814rem;
    padding-top: 1rem;
}

